%html
    %head
        %title Seekrit Santa
    %body
        #content
            %header
                %h1 Secret Santa Engine!
            #index
                %p
                    HO HO HO! Merry Christmas my merry little elves!
                    This is a system to make my job easier, and help
                    you get yourself gifts this year! Just gather your
                    friends together, and create a secret Santa group!
                    